:root {
  --bg-color: #00b4d8;
  --second-bg-color: #90e0ef;
  --3d-bg-color: #caf0f8;
  --text-color: #03045e;
  --second-color: #0077b6;
  --main-color: #013a63;
  --big-font: 5rem;
  --h2-font: 3rem;
  --h3-font: 2rem;
  --p-font: 1.1rem;
}

.flip-container {
  perspective: 1000;
}

.flipper {
  padding: 30px;
  width: 300px;
  height: 300px;
  position: relative;
  background: var(--3d-bg-color);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  transition: 0.6s;
  transform-style: preserve-3d;
}

.front,
.back {
  background-color: var(--3d-bg-color);
  position: absolute;
  padding: 10px 30px;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 15px;

  backface-visibility: hidden;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.front h1 {
  color: var(--text-color);
  font-size: var(--h2-font);
  font-family: 'Poppins';
}

.back {
  transform: rotateY(180deg);
}

.back h1 {
  font-size: var(--h2-font);
  font-family: 'Poppins';
  color: var(--text-color)
}

.flip {
  transform: rotateY(180deg);
}

input,
select {
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus {
  outline: none;
}

input[type="submit"] {
  background-color: var(--bg-color);
}

input[type="submit"]:hover {
  background-color: var(--second-color);
}

#loginButton,
#registerButton {
  font-family: Arial, Helvetica, sans-serif;

}

#loginButton:hover,
#registerButton:hover {
  color: white;

}


.title {
  text-align: center;
}

.flipbutton {
  color: #03045e;
  text-decoration: none;
  text-align: left !important;
}



/* Alignment styles */

body,
html {
  background-color: #2a6f97;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  background: #2a6f97;
}

.post-form {
  padding: 30px;
  width: 300px;
  height: 300px;
  position: relative;
  background: var(--3d-bg-color);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center !important;
  transition: 0.6s;
  transform-style: preserve-3d;
}

nav {
  background-color: #2a6f97;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
}


.navlist {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 20px;
}

.navlist li {
  display: inline-block;
}

.navlist a {
  align-items: center;
  color: var(--main-color);
  font-size: var(--h2-font);
  font-weight: 500;
  margin: 0 15px;
  transition: all 0.45s ease;
  font-family: 'Poppins';
  text-decoration: none;
}

.navlist a:hover {
  color: white;
}

.navlist a.active {
  color: var(--main-color);
}